.clearBtn{height:50px;width:200px;background-color:blue}
.backBtn{height:50px;width:100px;background-color:yellow}
.devideBtn{height:50px;width:100px;background-color:gray}
.normalBtn{height:50px;width:100px;background-color:whitesmoke}
.OperatorBtn{height:50px;width:100px;background-color:gray}
.resultBtn{height:50px;width:200px;background-color:green}
.InputTxtField{width:400px}
.ResultTxtField{width:400px}