.table{height:350px;width:410px;border-radius: 10px;border: 0;background: none;box-shadow: none;background-color:palegoldenrod}
.clearBtn{height:50px;width:200px;border-radius: 10px;border: 0;background: none;box-shadow: none;background-color:lightseagreen}
.backBtn{height:50px;width:100px;border-radius: 10px;border: 0;background: none;box-shadow: none;background-color:yellow}
.devideBtn{height:50px;width:100px;border-radius: 10px;border: 0;background: none;box-shadow: none;background-color:gray}
.normalBtn{height:50px;width:100px;border-radius: 10px;border: 0;background: none;box-shadow: none;background-color:whitesmoke}
.OperatorBtn{height:50px;width:100px;border-radius: 10px;border: 0;background: none;box-shadow: none;background-color:gray}
.resultBtn{height:50px;width:200px;border-radius: 10px;border: 0;background: none;box-shadow: none;background-color:green}
.InputTxtField{width:400px;}
.ResultTxtField{width:400px;}